//! **************************************************************************
// Written by: Map P.28xd on Thu Apr 16 22:07:56 2015
//! **************************************************************************

SCHEMATIC START;
COMP "clk100mhz" LOCATE = SITE "E3" LEVEL 1;
COMP "b0" LOCATE = SITE "B7" LEVEL 1;
COMP "b1" LOCATE = SITE "C7" LEVEL 1;
COMP "b2" LOCATE = SITE "D7" LEVEL 1;
COMP "b3" LOCATE = SITE "D8" LEVEL 1;
COMP "g0" LOCATE = SITE "C6" LEVEL 1;
COMP "g1" LOCATE = SITE "A5" LEVEL 1;
COMP "g2" LOCATE = SITE "B6" LEVEL 1;
COMP "g3" LOCATE = SITE "A6" LEVEL 1;
COMP "r0" LOCATE = SITE "A3" LEVEL 1;
COMP "r1" LOCATE = SITE "B4" LEVEL 1;
COMP "r2" LOCATE = SITE "C5" LEVEL 1;
COMP "r3" LOCATE = SITE "A4" LEVEL 1;
COMP "ps2_clk" LOCATE = SITE "F4" LEVEL 1;
COMP "vga_hs" LOCATE = SITE "B11" LEVEL 1;
COMP "vga_vs" LOCATE = SITE "B12" LEVEL 1;
COMP "rst_key_n" LOCATE = SITE "V10" LEVEL 1;
COMP "ps2_data" LOCATE = SITE "B2" LEVEL 1;
TIMEGRP system_clk_clkout2 = BEL "system_clk/clkout3_buf" BEL "key0/cnt_3" BEL
        "key0/cnt_2" BEL "key0/cnt_1" BEL "key0/cnt_0" BEL "key0/ps2_byte_7"
        BEL "key0/ps2_byte_6" BEL "key0/ps2_byte_5" BEL "key0/ps2_byte_4" BEL
        "key0/ps2_byte_3" BEL "key0/ps2_byte_2" BEL "key0/ps2_byte_1" BEL
        "key0/ps2_byte_0" BEL "key0/ps2_clk_r1" BEL "key0/key_released" BEL
        "key0/ps2_byte_buf_7" BEL "key0/ps2_byte_buf_6" BEL
        "key0/ps2_byte_buf_5" BEL "key0/ps2_byte_buf_4" BEL
        "key0/ps2_byte_buf_3" BEL "key0/ps2_byte_buf_2" BEL
        "key0/ps2_byte_buf_1" BEL "key0/ps2_byte_buf_0" BEL "key0/ps2_clk_r0";
TIMEGRP system_clk_clkout1 = BEL "system_clk/clkout2_buf" BEL
        "ClkDiv/counter3_31" BEL "ClkDiv/counter3_30" BEL "ClkDiv/counter3_29"
        BEL "ClkDiv/counter3_28" BEL "ClkDiv/counter3_27" BEL
        "ClkDiv/counter3_26" BEL "ClkDiv/counter3_25" BEL "ClkDiv/counter3_24"
        BEL "ClkDiv/counter3_23" BEL "ClkDiv/counter3_22" BEL
        "ClkDiv/counter3_21" BEL "ClkDiv/counter3_20" BEL "ClkDiv/counter3_19"
        BEL "ClkDiv/counter3_18" BEL "ClkDiv/counter3_17" BEL
        "ClkDiv/counter3_16" BEL "ClkDiv/counter3_15" BEL "ClkDiv/counter3_14"
        BEL "ClkDiv/counter3_13" BEL "ClkDiv/counter3_12" BEL
        "ClkDiv/counter3_11" BEL "ClkDiv/counter3_10" BEL "ClkDiv/counter3_9"
        BEL "ClkDiv/counter3_8" BEL "ClkDiv/counter3_7" BEL
        "ClkDiv/counter3_6" BEL "ClkDiv/counter3_5" BEL "ClkDiv/counter3_4"
        BEL "ClkDiv/counter3_3" BEL "ClkDiv/counter3_2" BEL
        "ClkDiv/counter3_1" BEL "ClkDiv/counter3_0" BEL "ClkDiv/counter1_31"
        BEL "ClkDiv/counter1_30" BEL "ClkDiv/counter1_29" BEL
        "ClkDiv/counter1_28" BEL "ClkDiv/counter1_27" BEL "ClkDiv/counter1_26"
        BEL "ClkDiv/counter1_25" BEL "ClkDiv/counter1_24" BEL
        "ClkDiv/counter1_23" BEL "ClkDiv/counter1_22" BEL "ClkDiv/counter1_21"
        BEL "ClkDiv/counter1_20" BEL "ClkDiv/counter1_19" BEL
        "ClkDiv/counter1_18" BEL "ClkDiv/counter1_17" BEL "ClkDiv/counter1_16"
        BEL "ClkDiv/counter1_15" BEL "ClkDiv/counter1_14" BEL
        "ClkDiv/counter1_13" BEL "ClkDiv/counter1_12" BEL "ClkDiv/counter1_11"
        BEL "ClkDiv/counter1_10" BEL "ClkDiv/counter1_9" BEL
        "ClkDiv/counter1_8" BEL "ClkDiv/counter1_7" BEL "ClkDiv/counter1_6"
        BEL "ClkDiv/counter1_5" BEL "ClkDiv/counter1_4" BEL
        "ClkDiv/counter1_3" BEL "ClkDiv/counter1_2" BEL "ClkDiv/counter1_1"
        BEL "ClkDiv/counter1_0";
TIMEGRP system_clk_clkout0 = BEL "system_clk/clkout1_buf" BEL
        "vga0/vgacolor_port_map/vmov1_0" BEL "vga0/vgacolor_port_map/vmov1_8"
        BEL "vga0/vgacolor_port_map/vmov1_7" BEL
        "vga0/vgacolor_port_map/vmov1_9" BEL "vga0/vgacolor_port_map/vmov1_6"
        BEL "vga0/vgacolor_port_map/vmov1_5" BEL
        "vga0/vgacolor_port_map/vmov1_4" BEL "vga0/vgacolor_port_map/vmov1_3"
        BEL "vga0/vgacolor_port_map/vmov1_2" BEL
        "vga0/vgacolor_port_map/vmov1_1" BEL "vga0/vgacolor_port_map/vmov_9"
        BEL "vga0/vgacolor_port_map/vmov_8" BEL
        "vga0/vgacolor_port_map/vmov_7" BEL "vga0/vgacolor_port_map/vmov_6"
        BEL "vga0/vgacolor_port_map/vmov_5" BEL
        "vga0/vgacolor_port_map/vmov_4" BEL "vga0/vgacolor_port_map/vmov_3"
        BEL "vga0/vgacolor_port_map/vmov_2" BEL
        "vga0/vgacolor_port_map/vmov_1" BEL "vga0/vgacolor_port_map/vmov_0"
        BEL "vga0/clock_port_map/counter0_1" BEL
        "vga0/clock_port_map/counter0_0" BEL "vga0/clock_port_map/div0";
PIN system_clk/mmcm_adv_inst_pins<2> = BEL "system_clk/mmcm_adv_inst" PINNAME
        CLKIN1;
TIMEGRP sys_clk_pin = PIN "system_clk/mmcm_adv_inst_pins<2>";
TS_sys_clk_pin = PERIOD TIMEGRP "sys_clk_pin" 100 MHz HIGH 50%;
TS_system_clk_clkout1 = PERIOD TIMEGRP "system_clk_clkout1" TS_sys_clk_pin *
        0.25 HIGH 50%;
TS_system_clk_clkout0 = PERIOD TIMEGRP "system_clk_clkout0" TS_sys_clk_pin
        HIGH 50%;
TS_system_clk_clkout2 = PERIOD TIMEGRP "system_clk_clkout2" TS_sys_clk_pin
        HIGH 50%;
SCHEMATIC END;

