
# PlanAhead Generated physical constraints 

NET "b0" LOC = B7;
NET "b1" LOC = C7;
NET "b2" LOC = D7;
NET "b3" LOC = D8;
NET "g0" LOC = C6;
NET "g1" LOC = A5;
NET "g2" LOC = B6;
NET "g3" LOC = A6;
NET "hs" LOC = B11;
NET "r0" LOC = A3;
NET "r1" LOC = B4;
NET "r2" LOC = C5;
NET "r3" LOC = A4;
NET "vs" LOC = B12;
NET "bt0" LOC = P17;
NET "bt1" LOC = M17;
NET "bt2" LOC = M18;
NET "bt3" LOC = P18;
NET "bt4" LOC = N17;
NET "clk100m" LOC = E3;
